GP_HOST=greenplum.example.internal
GP_PORT=5432
GP_DBNAME=warehouse
GP_USER=readonly_analyst
GP_PASSWORD=
GP_SSLMODE=require

# Alternatively, set a libpq DSN instead of the individual GP_* variables:
# GP_DSN=host=greenplum.example.internal port=5432 dbname=warehouse user=readonly_analyst sslmode=require
